html body{
    margin: 0;
}
body{
    background-image: url(img/casaKameDragonBall.jpg);
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    font-family: monospace;
    font-size: large;
}
.contenedor{
    padding: 20px 50px 50px 50px;
    background-color: rgba(233, 123, 83, 0.8);
    width: 40%;
    margin: 100px auto;
    box-shadow: 5px 5px 15px white, -5px -5px 15px white;
}
form{
    margin: 50px 0px;
}
input[name="seccion"]{
    display: none;
}
input[type="text"]{
    padding-left: 10px;
    width: 150px;
}
footer{
    text-align: center;
}
header{
    text-align: center;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
}
input[type="submit"]{
    width: 100px;
    height: 30px;
    border-radius: 15px;
}
input[type="reset"]{
    width: 100px;
    height: 30px;
    border-radius: 15px;
}
div{
    padding: 10px 0px;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgb(233, 123, 83)
}
table td,th{
    padding: 5px 20px;
    border: 2px solid white;
    font-size: x-large;
}
